<div class="privacy">
	By submitting this form, you agree to the private cookie dance festival policy
	<p>This website will make use of cookies, because cookies are yummy. Eat cookies in private in <a href="#!private_cookie_dance_festival_policy">accordence with the policy</a></p>
</div>