<div class="carousel-unit">
	<a href="#!void">
		<div class="background">
			<img src="{{ "400x400" | placeholder:'ee1c25','ffffff' }}" alt="" />
		</div>
		<div class="content">
			<h2>[[a pretty long title]]</h2>
		</div>
	</a>
</div>
