<option value="AE" title="United Arab Emirates">United Arab Emirates</option>
<option value="AF" title="Afghanistan">Afghanistan</option>
<option value="AL" title="Albania">Albania</option>
<option value="AR" title="Argentina">Argentina</option>
<option value="AS" title="American Samoa">American Samoa</option>
<option value="AT" title="Austria">Austria</option>
<option value="AU" title="Australia">Australia</option>
<option value="AZ" title="Azerbaijan">Azerbaijan</option>
<option value="BA" title="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
<option value="BD" title="Bangladesh">Bangladesh</option>
<option value="BE_fr" title="Belgium (FR)">Belgium (FR)</option>
<option value="BE_nl" title="Belgium (NL)">Belgium (NL)</option>
<option value="BG" title="Bulgaria">Bulgaria</option>
<option value="BH" title="Bahrain">Bahrain</option>
<option value="BN" title="Brunei">Brunei</option>
<option value="BO" title="Bolivia">Bolivia</option>
<option value="BR" title="Brazil">Brazil</option>
<option value="BT" title="Bhutan">Bhutan</option>
<option value="BW" title="Botswana">Botswana</option>
<option value="BY" title="Belarus">Belarus</option>
<option value="BZ" title="Belize">Belize</option>
<option value="CA" title="Canada">Canada</option>
<option value="CD" title="Congo - Kinshasa">Congo - Kinshasa</option>
<option value="CG" title="Congo - Brazzaville">Congo - Brazzaville</option>
<option value="CH" title="Swiss">Swiss</option>
<option value="CH" title="Switzerland">Switzerland</option>
<option value="CI" title="Ivory Coast">Ivory Coast</option>
<option value="CL" title="Chile">Chile</option>
<option value="CN" title="China">China</option>
<option value="CN" title="China Indonesian">China Indonesian</option>
<option value="CO" title="Colombia">Colombia</option>
<option value="CR" title="Costa Rica">Costa Rica</option>
<option value="CS" title="Serbia and Montenegro">Serbia and Montenegro</option>
<option value="CY" title="Cyprus">Cyprus</option>
<option value="CZ" title="Czech Republic">Czech Republic</option>
<option value="DE" title="Germany">Germany</option>
<option value="DJ" title="Djibouti">Djibouti</option>
<option value="DK" title="Denmark">Denmark</option>
<option value="DO" title="Dominican Republic">Dominican Republic</option>
<option value="DZ" title="Algeria">Algeria</option>
<option value="EC" title="Ecuador">Ecuador</option>
<option value="EE" title="Estonia">Estonia</option>
<option value="EG" title="Egypt">Egypt</option>
<option value="ER" title="Eritrea">Eritrea</option>
<option value="ER" title="EritreaTagalog">EritreaTagalog</option>
<option value="ES" title="Spain">Spain</option>
<option value="ET" title="Ethiopia">Ethiopia</option>
<option value="FI" title="Finland">Finland</option>
<option value="FO" title="Faroe Islands">Faroe Islands</option>
<option value="FR" title="France">France</option>
<option value="FR" title="France">France</option>
<option value="GB" selected title="United Kingdom">United Kingdom</option>
<option value="GE" title="Georgia">Georgia</option>
<option value="GH" title="Ghana">Ghana</option>
<option value="GL" title="Greenland">Greenland</option>
<option value="GN" title="Guinea">Guinea</option>
<option value="GR" title="Greece">Greece</option>
<option value="GT" title="Guatemala">Guatemala</option>
<option value="GU" title="Guam">Guam</option>
<option value="HK" title="Hong Kong">Hong Kong</option>
<option value="HN" title="Honduras">Honduras</option>
<option value="HR" title="Croatia">Croatia</option>
<option value="HU" title="HungaryArmenian">HungaryArmenian</option>
<option value="ID" title="Indonesia">Indonesia</option>
<option value="IE" title="Ireland">Ireland</option>
<option value="IE" title="Ireland">Ireland</option>
<option value="IL" title="Israel">Israel</option>
<option value="IN" title="India">India</option>
<option value="IQ" title="Iraq">Iraq</option>
<option value="IS" title="Iceland">Iceland</option>
<option value="IT" title="Italy">Italy</option>
<option value="IT" title="ItalyInuktitut">ItalyInuktitut</option>
<option value="JM" title="Jamaica">Jamaica</option>
<option value="JO" title="Jordan">Jordan</option>
<option value="JP" title="Japan">Japan</option>
<option value="KE" title="Kenya">Kenya</option>
<option value="KG" title="Kyrgyzstan">Kyrgyzstan</option>
<option value="KH" title="Cambodia">Cambodia</option>
<option value="KR" title="South Korea">South Korea</option>
<option value="KW" title="Kuwait">Kuwait</option>
<option value="KZ" title="Kazakhstan">Kazakhstan</option>
<option value="LA" title="Laos">Laos</option>
<option value="LB" title="Lebanon">Lebanon</option>
<option value="LI" title="Liechtenstein">Liechtenstein</option>
<option value="LK" title="Sri Lanka">Sri Lanka</option>
<option value="LR" title="Liberia">Liberia</option>
<option value="LS" title="Lesotho">Lesotho</option>
<option value="LT" title="Lithuania">Lithuania</option>
<option value="LU" title="Luxembourg">Luxembourg</option>
<option value="LV" title="Latvia">Latvia</option>
<option value="LY" title="Libya">Libya</option>
<option value="MA" title="Morocco">Morocco</option>
<option value="MC" title="Monaco">Monaco</option>
<option value="MD" title="Moldova">Moldova</option>
<option value="ME" title="Montenegro">Montenegro</option>
<option value="MH" title="Marshall Islands">Marshall Islands</option>
<option value="MK" title="Macedonia">Macedonia</option>
<option value="MM" title="Myanmar">Myanmar</option>
<option value="MN" title="MongoliaRomanian">MongoliaRomanian</option>
<option value="MO" title="Macau">Macau</option>
<option value="MP" title="Northern Mariana Islands">Northern Mariana Islands</option>
<option value="MT" title="Malta">Malta</option>
<option value="MV" title="Maldives">Maldives</option>
<option value="MW" title="Malawi">Malawi</option>
<option value="MX" title="Mexico">Mexico</option>
<option value="MY" title="Malaysia">Malaysia</option>
<option value="NA" title="Namibia">Namibia</option>
<option value="NE" title="Niger">Niger</option>
<option value="NG" title="Nigeria">Nigeria</option>
<option value="NG" title="NigeriaCoptic">NigeriaCoptic</option>
<option value="NI" title="Nicaragua">Nicaragua</option>
<option value="NL" title="Netherlands">Netherlands</option>
<option value="NO" title="Norway">Norway</option>
<option value="NO" title="NorwayNorwegian">NorwayNorwegian</option>
<option value="NP" title="Nepal">Nepal</option>
<option value="NZ" title="New Zealand">New Zealand</option>
<option value="OM" title="Oman">Oman</option>
<option value="PA" title="Panama">Panama</option>
<option value="PE" title="Peru">Peru</option>
<option value="PH" title="Philippines">Philippines</option>
<option value="PK" title="Pakistan">Pakistan</option>
<option value="PL" title="Poland">Poland</option>
<option value="PR" title="Puerto Rico">Puerto Rico</option>
<option value="PT" title="Portugal">Portugal</option>
<option value="PY" title="Paraguay">Paraguay</option>
<option value="QA" title="Qatar">Qatar</option>
<option value="RO" title="Romania">Romania</option>
<option value="RS" title="Serbia">Serbia</option>
<option value="RU" title="Russia">Russia</option>
<option value="RW" title="Rwanda">Rwanda</option>
<option value="SA" title="Saudi Arabia">Saudi Arabia</option>
<option value="SD" title="Sudan">Sudan</option>
<option value="SE" title="Sweden">Sweden</option>
<option value="SG" title="Singapore">Singapore</option>
<option value="SK" title="Slovakia">Slovakia</option>
<option value="SN" title="Senegal">Senegal</option>
<option value="SO" title="Somalia">Somalia</option>
<option value="SV" title="El Salvador">El Salvador</option>
<option value="SY" title="Syria">Syria</option>
<option value="SZ" title="Swaziland">Swaziland</option>
<option value="TG" title="Togo">Togo</option>
<option value="TH" title="Thailand">Thailand</option>
<option value="TJ" title="Tajikistan">Tajikistan</option>
<option value="TN" title="Tunisia">Tunisia</option>
<option value="TO" title="Tonga">Tonga</option>
<option value="TR" title="Turkey">Turkey</option>
<option value="TR" title="Turkey">Turkey</option>
<option value="TT" title="Trinidad and Tobago">Trinidad and Tobago</option>
<option value="TW" title="Taiwan">Taiwan</option>
<option value="TZ" title="Tanzania">Tanzania</option>
<option value="UA" title="Ukraine">Ukraine</option>
<option value="UM" title="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
<option value="US" title="United States">United States</option>
<option value="UY" title="Uruguay">Uruguay</option>
<option value="UZ" title="Uzbekistan">Uzbekistan</option>
<option value="VE" title="Venezuela">Venezuela</option>
<option value="VI" title="U">U</option>.S. Virgin Islands
<option value="VN" title="Vietnam">Vietnam</option>
<option value="YE" title="Yemen">Yemen</option>
<option value="YU" title="Serbia">Serbia</option>
<option value="ZA" title="South Africa">South Africa</option>
<option value="ZW" title="Zimbabwe">Zimbabwe</option>