<div class="list unit wow fadeInUp" state="{{ item.state }}" id="{{ item.id }}">
	<div class="title">{{ item.title }}</div>
	<div class="content rtf">
		<div>
			{{ item.content}}
			<a class="button-black-transparent-border" href="#">Button 1</a>
			<a class="button-black-transparent" href="#">Button 2</a>
			<a class="button-black" href="#">Button 3</a>
			<a class="button-green-dark" href="#">Button 4</a>
			<a class="button-green" href="#">Button 5</a>
			<a class="button-green-light" href="#">Button 6</a>
			<a class="button-transparent-border" href="#">Button 7</a>
			<a class="button-white-border" href="#">Button 8</a>	
		</div>
	</div>

	<button class="button">{% include faq/parts/icon/plus.liquid %}</button>
</div>	