@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext,greek-ext,greek,devanagari,vietnamese,latin-ext,cyrillic);
@import url(https://www.heineken.com/browser-resources/css/gateway.min.css?family=Title);
body {
  background: transparent;
}
.tile {
  border: none;
  padding: 20px;
  background: transparent;
}
.tile .tile-caption {
  font-size: 13px;
  color: #cecedb;
  clear: left;
  padding: 0 20px 48px 20px;
  font-family: Noto Sans, sans-serif;
  line-height: 21px;
  margin: 0;
}
.tile .tile-caption a,
.tile .tile-caption a:link,
.tile .tile-caption a:visited {
  color: #fff;
}
.tile:hover .tile-image-wrapper img {
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);
}
.tile .tile-user {
  text-transform: uppercase;
  font-family: Title, 'Title Fallback 1', 'Title Fallback 2', sans-serif;
}
.tile .tile-user .tile-user-top {
  color: #9797aa;
  font-size: 14px;
}
.tile .tile-user .tile-user-bottom {
  color: #4e5162;
  font-size: 11px;
}
.tile .tile-title {
  color: #4e5162;
  font-size: 11px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 66px;
  top: auto;
  margin-top: 39px;
  font-family: Title, 'Title Fallback 1', 'Title Fallback 2', sans-serif;
  text-transform: uppercase;
}
.tile-content {
  margin: 0;
  background: #262b32;
}
.tile-image-wrapper {
  margin-bottom: 0;
  height: auto !important;
}
.tile-image-wrapper img {
  -webkit-transition: -webkit-transform 0.75s 0.1s cubic-bezier(0.17, 0.8, 0.6, 1);
  transition: transform 0.75s 0.1s cubic-bezier(0.17, 0.8, 0.6, 1);
}
.tile-avatar-wrapper {
  float: left;
  clear: left;
  width: auto;
  margin: 0;
  padding: 20px 0 0 20px;
}
.tile-avatar-link {
  width: auto;
  height: auto;
  margin-right: 10px;
}
.tile-avatar-placeholder,
.tile-avatar-image {
  width: 36px;
  height: 36px;
  border: none;
  display: block;
}
.tile-avatar-image {
  width: 36px;
  height: 36px;
  border: none;
  display: block;
}
.tile-belt {
  float: left;
  padding: 23px 20px 16px 0;
  margin: 0;
}
.tile-source {
  position: absolute;
  left: 18px;
  bottom: 13px;
  font-size: 18px;
}
.tile-source .fs::before {
  color: #4e5162;
}
.tile-timestamp {
  position: absolute;
  bottom: 16px;
  left: 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  color: #4e5162;
  font-family: Title, 'Title Fallback 1', 'Title Fallback 2', sans-serif;
}
.tile-twitter-intent {
  display: none;
}
.tile-emoji.tile-emoji {
  width: 14px;
  position: relative;
  top: -2px;
}
.tile .tile-interactions {
  border: none;
  padding-top: 7px;
  margin: 0;
}
.tile .tile-interactions .tile-interaction-share {
  float: right;
}
.tile .tile-interactions .tile-interaction-link {
  border: none;
  position: relative;
  bottom: 7px;
  right: 6px;
}
.tile .tile-interactions .tile-sharing-expanded {
  top: 0;
}
.tile .tile-interactions .tile-sharing-expanded li {
  margin: 3px 0 2px 3px;
}
.tile .tile-interactions .tile-sharing-expanded li:last-child {
  float: right;
  position: absolute;
  right: 0px;
  top: -2px;
}
.button {
  background: #262b32;
  font-family: Title, 'Title Fallback 1', 'Title Fallback 2', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  margin: 10px 20px 0 20px;
}
/*# sourceMappingURL=stackla-overview.css.map */