{% comment %}
	This module is implemented as an article module in the back-end
{% endcomment %}

<div class="error container">
	<div class="error unit">
		<div class"text">This is an example of the 404 error page</div>
		<a class="button">Home</a>
	</div>
</div>