{% if item.data.more-info.title %}
<div class="more-info container">
	<div class="more-info-title">
		<h2 class="title">{{ item.data.more-info.title }}</h2>
	</div>
	<div class="more-info more-info-button" state="blurred"></div>
</div>
{% endif %}