<ul class="menu" variant="secondary">
	<li>
		<div toggle="overlay" name="socials">Follow heineken</div>
	</li>
	<li>
		<div toggle="overlay" name="languages">country/language {% include footer/parts/icon/world.liquid %}</div>
	</li>
</ul>