{% assign variant = default %}
<a href="#!void" class="play wow fadeInUp" variant="{{ variant }}">
	<svg 
		version="1.1" 
		width="17.5" 
		height="22" 
		viewBox="0 0 17.5 22" 
		overflow="visible" 
		enable-background="new 0 0 17.513 22.041" 
		xml:space="preserve">
		<path 
			class="text" 
			d="M0 20.1c0 1.8 1.2 2.4 2.7 1.5l13.8-8.8c1.5-1 1.5-2.5 0-3.5L2.7 0.4C1.2-0.5 0 0.1 0 1.9V20.1z">
		</path>
	</svg>
</a>