<div class="full-viewport unit" variant="page">
    <div class="article container">
        <div class="article unit rtf" variant="box1" modifier="align-center">
            <h2>Thank you NAME</h2>
            <p>We will contact you soon!</p>

            <p><a class="button-transparent-border" href="#">Call to action button</a></p>
        </div>
    </div>
</div>