<div class="background container" state="initiated" variant="default">
	<div class="background unit blurred">
		<div class="image_ratio">
			<picture>
				<source
					media="(max-aspect-ratio: 1/1) and (max-width: 1200px)"
					sizes="100vw"
					srcset="/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=180&h=320 360w,
							/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=360&h=640 720w,
							/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=550&h=700 1100w">
				<source
					media="(min-aspect-ratio: 1/1)"
					sizes="100vw"
					srcset="/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=320&h=180 640w,
							/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=512&h=384 1024w,
							/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=720&h=450 1440w,
							/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=960&h=540 1920w">
				<img
					srcset="/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=512&h=384 1024w,
							/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=720&h=450 1440w,
							/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=960&h=540 1920w"
					src="/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=720&h=450"
					alt="">
			</picture>
		</div>
	</div>
	<div class="background unit regular" state="active">
		<div class="image_ratio">
			<picture>
				<source
					media="(max-aspect-ratio: 1/1) and (max-width: 1200px)"
					sizes="100vw"
					srcset="/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=360&h=640 360w,
							/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=720&h=1280 720w,
							/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=1100&h=1400 1100w">
				<source
					media="(min-aspect-ratio: 1/1)"
					sizes="100vw"
					srcset="/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=640&h=360 640w,
							/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=1024&h=768 1024w,
							/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=1440&h=900 1440w,
							/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=1920&h=1080 1920w">
				<img
					srcset="/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=1024&h=768 1024w,
							/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=1440&h=900 1440w,
							/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=1920&h=1080 1920w"
					src="/dummy-resources/img/background/quiz-question-bg.jpg?process=crop&w=1440&h=900"
					alt="">
			</picture>
		</div>
	</div>
</div>
