<div class="cookies-message container" variant="full-view">
	<div class="cookies-message unit">
		<h2 class="title">Cookies on Heineken.com</h2>
		<p class="message">We use cookies to ensure that we give you the best experience on our website. We also use cookies to ensure we show you [third part profiling] that is relevant to you. If you continue without changing your settings, we'll assume that you are happy to receive all cookies on the Heineken website. Howeve, if you would like to, you can change your cookie settings at any time.</p>
		<button class="button" variant="accept">Continue</button>
		<button class="button" variant="find-out-more">Find out more</button>
	</div>
</div>