<div class="craas container" modifier="{{site.data.global.craas.modifiers}}">

	{% include craas/parts/intro/intro.liquid %}

	{% include craas/parts/header/header.liquid %}
	
	{% include craas/parts/form/form.liquid %}

</div>
