<a href="/pages/full-viewport-event.html">
  <div class="event-item">
    <div class="event-item__img-wrap">
      <img class="event-item__img" src="/dummy-resources/img/calendar/thumbnail-2.jpg" alt="" />
    </div>
    <span class="event-item-date">
      <span class="event-item-date__day-number">14</span>
      <span class="event-item-date__day-string">THU</span>
    </span>
    <div class="event-item-summary-wrap">
      <h4 class="event-item__title">Barcelona VS Real Madrid</h4>
      <div class="event-item-summary">
        <p class="event-item-summary__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        <p class="event-item-summary__date"><strong>Amstelveense bos 8PM - 11PM</strong></p>
      </div>
    </div>
  </div>
</a>
