<div class="media-gallery container" variant="editing" modifier="full-width">
	<div class="media-gallery unit">
		<div class="media container" variant="empty">
			<img class="empty-image" src="/browser-resources/img/gallery-placeholder.png" />
			<div class="message">"I am a gallery. You can start creating gallery slides now."</div>
		</div>
	</div>
</div>