<div class="input container" variant="country">
	<select id="countries">
		{% include gateway/parts/countryselector/options.liquid %}
	</select>
	<input class="input unit wow fadeInUp" variant="country" type="text" placeholder="Country" data-list="#countries" datalist>
</div>
