<div class="full-viewport unit" variant="page">
	<div class="article container">
		
		<div id="art_79337ef1-1022-4ac5-9d6e-5c237f2d0c77" class="article unit rtf" variant="box1" modifier=" align-left xlarge-padding-top">
		        <h3>ENCOURAGING RESPONSIBILITY</h3>
		<p></p><hr>
		<strong><br><br><br>Given that Heineken is the world’s international premium beer brand we have both the opportunity and the responsibility to make moderate drinking <br>aspirational.<br>
		As an industry leader we implement a consistent, effective approach to encouraging responsible attitudes to alcohol and actively discourage abuse or alcohol. By doing so, we play an active role to support the reduction of irresponsible drinking.</strong><p></p>
		    </div>
		    <div id="art_3d23c129-dd0c-451d-9763-ee85ec3de289" class="article unit divider" variant="box1" modifier=" align-center ">
		        <hr class="thin">
		    </div>
		    <div id="art_f2e41136-d092-4497-bac2-385c67c7267a" class="article unit rtf" variant="box1" modifier=" align-left ">
		        <h5>MARKETING OUR PRODUCTS RESPONSIBLY</h5>
		<p>Our Rules on Responsible Commercial Communication guides everyone at Heineken who is involved in marketing and selling our products to ensure we do not contribute to excessive consumption or misuse.&nbsp;<br>
		<br>
		We also comply with regional and national codes for beer or alcohol advertising. We only place commercial communication where at least 70% of the audience is over 18 years or in some countries the legal purchase age if that is higher than 18 years. We will only feature people who are at least 25 years old and act and appear their age. We will not suggest alcohol is the key to social or sexual success.&nbsp;<br>
		<br>
		We define commercial communications as all activities carried out in order to market our brands (alcoholic and any non-alcoholic versions of alcoholic brands). This includes: all advertising, the brand name, product descriptor, packaging and labelling, digital and mobile phone communication, sponsorships, product placement, promotions (on &amp; off-trade) and point of sale materials.</p>
		<p><a href="http://" class="button-transparent-border">RULES on Communication</a></p>
		    </div>
		    <div id="art_0ad65276-0dfb-42bc-ac5e-d1a2dd470e57" class="article unit divider" variant="box1" modifier=" align-center ">
		        <hr class="thin">
		    </div>
		    <div id="art_1ff0813a-cc43-4ea9-8655-cb45672e4c91" class="article unit rtf" variant="box1" modifier=" align-left ">
		        <h5>EMPLOYEES AS AMBASSADORS</h5>
		<p>We encourage our employees to be ambassadors for alcohol responsibility and to take personal responsibility for their own alcohol use.&nbsp;<br>
		<br>
		Heineken companies worldwide implement Cool@Work - a workplace alcohol information and prevention programme. It aims to improve safety and health at work, ensure responsible alcohol consumption and create awareness, commitment and ambassadorship among employees.&nbsp;<br>
		<br>
		Employees are divided into three groups and targeted information and support is delivered to each group:<br>
		• Green: the majority who consume alcohol in moderation and are responsible drinkers<br>
		• Amber: Those at risk of developing alcohol problems because of their job activities or characteristics<br>
		• Red: Individuals showing performance or health problems because of their alcohol consumption<br>
		<br>
		Targeted communication and training is implemented annually by our global operating companies using tool and methods most appropriate to local market needs.</p>
		    </div>
		    <div id="art_52acb2a3-0540-49ff-8d5b-bd58e8213029" class="article unit divider" variant="box1" modifier=" align-center ">
		        <hr class="thin">
		    </div>
		    <div id="art_b0e5e50a-6fc3-42a7-b433-86c5a94fd1d7" class="article unit rtf" variant="box1" modifier=" align-left ">
		        <h5>WORKING WITH THE INDUSTRY</h5>
		<p>Industry can be a valuable partner to encourage responsible drinking. The combined impact of brewers working together to address common issues is more powerful and in some cases has greater impact than companies acting alone.&nbsp;</p>
		<br>
		Industry groups, governments, non-government organisations, consumer groups, police forces, legislators, retailers, bar and pub owners and community groups all have a valuable role to play in encouraging responsible consumption.&nbsp;<br>
		<br>
		We work with brewers on a global (Worldwide Brewing Alliance), regional (e.g. Brewers of Europe) and market level on joint initiatives to promote responsible consumption. We also cooperate with the wider alcohol industry on a global level (e.g. International Center for Alcohol Policies) and in many markets (e.g. Portman Group in the UK).<br>
		    </div>
		    <div id="art_b2ddf11f-8881-4616-8b50-f027775d7946" class="article unit divider" variant="box1" modifier=" align-center ">
		        <hr class="thin">
		    </div>
		    <div id="art_719a1055-7c38-4f1f-ad70-d1043434fc5b" class="article unit rtf" variant="box1" modifier="xlarge-padding-bottom align-left ">
		        <h5>WORKING IN PARTNERSHIP</h5>
		<p>We will work with others to encourage responsible attitudes to alcohol and to address alcohol related harm. It has been recognised by the World Health Organisation that brewers can effectively contribute to reducing alcohol related harm.&nbsp;</p>
		<br>
		We currently have partnerships with a variety of NGO and third parties to address different areas of alcohol related harm.&nbsp;<br>
		<br>
		Our commitment is that by 2015, we will have a partnership to help reduce alcohol related harm in all of our majority owned companies.
		    </div>
	    
	</div>


	<div class="scroll-top-button container" modifier="haslegal">
		<div class="scroll-top-button unit" variant="button2" state="active"></div>
	</div>
</div>