<div class="tab-content container" state="{{tab.state}}" variant="{{tab.menu.variant}}">
	<div class="tab-content unit">
        {% include "tab-view/parts/content/parts/title/default" %}
        {% include "tab-view/parts/content/parts/rtf/default" %}
    </div>
</div>