<div class="background" state="normal">
	{% include product-list/parts/product/parts/image/default.liquid %}

	<div class="bg normal" style="background-image: url({{ _product.backgroundnormal }});"></div>
	<div class="bg zoom" style="background-image: url({{ _product.backgroundzoom }});"></div>
</div>