<label class="input container {% if {{site.data.pages.gateway.rememberme-size}} %}
		{{site.data.pages.gateway.rememberme-size | prepend:'input--'}}
	{% endif %}
  wow fadeInUp" variant="checkbox" state="">
	<input class="visually-hidden" type="checkbox" tabindex="-1">
  <span class="label">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.1 9.51" fill="#fff">
			<path d="M12.1 1.32L10.63 0 4.59 6.83 1.26 4.2 0 5.74l4.78 3.78 7.32-8.2"/>
			<path d="M12.1 1.32L10.63 0 4.59 6.83 1.26 4.2 0 5.74l4.78 3.78 7.32-8.2"/>
		</svg>
    Remember me
	  <small>(Do not check this if this device can be used by multiple persons)</small>
  </span>
</label>
