<div class="content-rtf container">
    <div class="content-rtf unit rtf">
        <h3>Getting there</h3>
        <p class="body-text">
            The Heineken Experience is easily accessible by public transport and by bike.
            In case you want to find us on a map or navigation system, our addres is:
            Stadhouderskade 78
        </p>

        <a class="button-green" href="http://www.facebook.com">Open in maps</a>
    </div>
</div>