/*

	mselector

    special stuff for mobile-only selector pages (country, plant)

*/

.mselector__title {
    position: static;

    h1 {
        color: $brand-color;
    }
}

.mselector__filter {
    display: block;
    background: $brand-color;
    color: $white;
    margin: 0;
    padding: 1.25em $base-spacing-unit/.65 1.25em $base-spacing-unit/.75;
    font-weight: normal;
    font-size: .8em;
    text-decoration: none;
    line-height: 1.3;

    .grid--nogutter > & { // need to overrule this
        padding-right: 3.5em;
    }

    .mselector__filter + & {
        border-left: 1px solid $white;
    }

    &.gamma {
        position: relative;
        background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, $brand-highlight), color-stop(.4, $brand-color) );
        background-image: -moz-linear-gradient(bottom, $brand-highlight 0%, $brand-color 40%);
        background-image: -webkit-linear-gradient(bottom, $brand-highlight 0%, $brand-color 40%);
        background-image: linear-gradient(to bottom, $brand-highlight 0%, $brand-color 40%);
        -webkit-background-size: 100% 200%;
             -o-background-size: 100% 200%;
                background-size: 100% 200%;
        background-position: 0 50%;
        @include transition(.2s);

        &:active, &:focus, &:hover {
            text-decoration: none;
            background-color: $brand-highlight;
            background-position: 0 0;
        }

        &:active, &:focus {
            background-color: $brand-highlight;
        }

        &::after {
            position: absolute;
            right: 0;
            content: "\e603";
            color: $white;
            font-family: $icon-FontFamily;
            @include transition(.1s ease-in);
            @include transform( translateX(-2em) scale(1.5) rotate(90deg) );
        }

        &:active {
            &::after {
                @include transform( translateX(-2em) scale(1.5) rotate(90deg) translateX(.2em) );
            }
        }

        /* &.is-filtering::after {
            content: "\e605";
        } */

        &.is-active::before {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            overflow: hidden;
            border-color: transparent;
            border-style: solid;
            border-width: 1.5em 1.5em 0 1.5em;
            border-top-color: $brand-color;
            right: .75em;
            bottom: -1.25em;
            @include transform-origin( center top );
            @include animation( mobilenav-pointy .5s ease-in);
            z-index: 50;
        }
    }
}

.mselector__menu {
    color: $white;
    font-size: 1.2em;
    line-height: 1.4;
    overflow: hidden;
    position: relative;

    > div {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: $gray-darker;
        border-bottom: em(3px) solid $brand-color;
    }

    /* not as a menu (country) */
    &.is-static {
        overflow: visible;

        > div {
            position: static;
            border-bottom: 0;
        }
    }

    a {
        display: block;
        padding: .6em $base-spacing-unit;
        color: $gray-lighter;
        text-decoration: none;

        &:active {
            color: $white;
            background: $gray-darkest;
            text-decoration: none;
        }
    }

    h3 {
        text-transform: none;
        font-size: 1.2em;
        padding: .3em $base-spacing-unit/1.2;
    }
}


.mselector__plants {
    background: $gray-darker;
    color: $white;

    > li {
        position: relative;
        padding: 1.3em $base-spacing-unit/.9 0;
        border-top: 4px solid darken($gray-darker, 5);
        /*@include transition(.1s ease-in);*/

        &:active {
            background: darken($gray-darker, 3);
        }
        
        &::after {
            position: absolute;
            right: 1.1em;
            top: 1em;
            content: "\e603";
            font-size: 1.25em;
            font-family: $icon-FontFamily;
            /*@include transition(.3s linear);*/ 
            @include transform( rotate(90deg) );
        }

        &.is-active {
            /*background: $brand-color; */
            border-top: 4px solid darken($brand-color, 8);

            /*&:active {
                background: darken($brand-color, 5);
            } */

            &::after {
                @include transform( rotate(-90deg) );
            }

            &:last-child {
                border-bottom: 4px solid darken($brand-color, 8);
            }
        }

        &:last-child {
            border-bottom: 4px solid darken($gray-darker, 5);
        }
    }

    h2 {
        margin-bottom: 0;
        margin-right: 1em;
    }

    p {
        margin-bottom: 1.5em;
    }

    dt {
        font-weight: bold;
    }

    dd {
        margin-bottom: 1em;
        line-height: 1.3;
    }

    [href^="tel:"] {
        color: $white;
        text-decoration: none;
        font-weight: bold;
    }

    /* [itemprop="telephone"] a {
        color: $white;
    } */

    .link-primary {
        margin: 1em 0;
        color: $white;
        background-color: transparent; /*$brand-color; */
        padding-left: 0em;

        &:last-child {
            margin-bottom: 2em;
        }
    }
}

.mselector__plants--details {
    height: 0;
    overflow: hidden;
}


.mselector__paginator
{
    background: #fff;

    a {
        display: inline-block;
        width: 100%;
        height: 75px; 
        background: #01a1dd; 
        border: 0; 
        color: #fff;
        line-height: 75px;
        text-align: center;
        text-decoration: none;
        
        &.is-disabled {
            background: $gray-lightish;
            color: $gray-darkest;
        }    
    }

    :first-child {
        padding-right: .125em;
    }

    :last-child {
        padding-left: .125em;
    }

    div {
        padding: 0em;
    }
}



@include media-query(S) {
    .mselector__plants {

        dl {
            display: block;
        }

        dt, dd {
            display: block;
            vertical-align: top;
        }

        dt {
            width: 34%;
            max-width: 8em;
            float: left;
        }

        dd {
            width: auto;
            padding-top: .2em; // compensating for different line-height
            overflow: hidden;
            max-width: 35em;
        }

        .link-primary:last-child {
            text-align: right;
            padding-right: 3em;
        }
    }
}




