/*

	subnavigation

*/

.subnav {
    padding-top: 5em;

    h2 a {
        display: block;
        padding: .75em 1em;
        color: $black;
        background: $gray-light;
        text-decoration: none;
        font-size: .85em;
        text-transform: uppercase;
        font-weight: bold;
        outline: none;

        &:active {
            background: $gray;
        }
    }

    h3 {
        //font-weight: normal;
        padding: 0 1em;
    }
}

.subnav__menu {
    border-bottom: em(5px) solid $white;

    li, ul {
        margin: 0;
    }

    li {
        border-top: em(5px) solid $white;
    }

    a {
        display: block;
        padding: .5em 2.5em .5em 1em;
        color: $brand-color;
        background: $gray-light;
        text-decoration: none;
        font-size: 1.25em;
        position: relative;
        outline: none;

        text-transform: capitalize;

        &:active {
            background: $gray-darkish;
        }

        &.is-active {
            background: $gray-darkish;
            color: $white;
        }

        &.is-selected {
            background: $brand-color;
            color: $white;
        }

        &::before {
            font-family: $icon-FontFamily;
            content: "\e603";
            position: absolute;
            right: .5em;
            font-size: 1.5em;
            line-height: 1;
            top: .4em;
            z-index: 1;
            @include transition( .3s );
        }

        &[data-panel] {

            &::before {
                right: .75em;
                @include transform( rotate(0deg) );
            }

            &.is-active {
                &::before {
                   @include transform( rotate(90deg) );
               }
            }
        }
    }

    li li a {
        padding-left: 2em;
        background: $gray-lightest;
    }

    li li li a {
        padding-left: 3em;
    }
}


@include media-query(M) {

    .subnav {
        padding: $base-spacing-unit $double-spacing-unit*2 $base-spacing-unit $base-spacing-unit;

        h2 {
            font-size: 1.25em;

             a {
                &:hover, &:focus {
                    background: $gray-lightest;
                }
            }
        }

        h3 {
            font-size: 1.1em;
        }
    }

    .subnav__menu {

        li {
            border-top-width: em(3px);

            &::before {
                content: none;
            }
        }

        a {
            font-size: 1em;
            background: none;
            padding: .4em $base-spacing-unit .4em 2.35em;
            color: $black;
            position: relative;

            &:hover, &:focus, &:active {
                color: $brand-color;
            }

            // pixel stuff here (oh, noes!) for IE11 compat.
            &::before {
                color: $brand-color;
                text-indent: .25em;
                position: absolute;
                left: .75em;
                top: .65em;
                font-size: 13px;
                font-weight: bold;
                width: 15px;
                height: 15px;
                overflow: hidden;
                @include transform-origin( 7px );
                @include transform( rotate( 0deg ) );
            }

            &[data-panel] {

                &::before {
                    @include transform( rotate(0deg) translate(-2px, 2px) );
                }

                &.is-active {
                    background: $gray;
                    color: $black;
                    font-weight: bold;

                    &:hover, &:active {
                        color: $brand-color;
                    }

                    &::before {
                        left: .7em;
                        top: .5em;
                        @include transform( rotate(90deg) translate(-2px, 2px) );
                    }
                }
            }

            &.is-selected {

                &:hover, &:focus, &:active {
                    color: $white;
                    background: $btn-color-highlight;
                }

                &::before {
                    color: $white;
                }

            }
        }

        li li {

            &:not(:first-child) {
                border-top: 0;
            }

            a {
                padding: .4em $base-spacing-unit .4em 2.5em;
                background: $gray-lightest;
            }

            &:last-child > a {
                padding-bottom: .6em;
            }
        }

        li li li a {
            padding-left: 2.5em;
        }
    }

}