/*

	subnavigation

*/

.subnav {
    @extend %box;
    @extend .push-quad--bottom;

    h3 {
        font-weight: normal;
        padding: 0 1em;
    }
}

.subnav__menu {
    border-bottom: em(5px) solid $white;

    li, ul {
        margin: 0;
    }

    li {
        border-top: em(5px) solid $white;
    }

    a {
        display: block;
        padding: .5em 1em;
        color: $brand-color;
        background: $gray-light;
        text-decoration: none;
        font-size: 1.25em;
        text-transform: capitalize;

        &:hover, &:focus, &:active {
            background: $gray-darkish;
        }

        &::after {
            font-family: $icon-FontFamily;
            content: "\e603";
            position: absolute;
            right: .5em;
            font-size: 1.5em;
            line-height: 1;
            margin-top: .05em;
            @include transition( .3s );
        }

        &[data-dropdown] {

            &::after {
                @include transform( rotate(90deg) );
            }

            &.is-active {
                &::after {
                   @include transform( rotate(-90deg) );
               }
            }
        }
    }

    li li a {
        padding-left: 2em;
    }

    li li li a {
        padding-left: 3em;
    }
}

.subnav__submenu {
    overflow: hidden;
    display: none;

    &.is-open {
        display: block;
    }
}


@include media-query(M) {

    .subnav {
        padding: $base-spacing-unit $double-spacing-unit $base-spacing-unit $base-spacing-unit;
    }

    .subnav__menu {
        a {
            &::after {
                content: "";
            }
        }
    }

}