<div class="image">
	<div class="normal" state="active" style="background-image: url({{ _product.image.normal.src }});"></div>
	<div class="zoom" state="" style="background-image: url({{ _product.image.zoom.src }});"></div>
</div>
