<div class="footer container">
	<div class="footer unit wow fadeInUp" variant="company" modifier="centered bright gateway">
		{% include footer/parts/menu/main.liquid %}
	</div>
	{% include legal/default.liquid %}
</div>
