<div class="carousel-home">

  <!-- 1e slide -->
  <div class="carousel-home__item" style="background-image: url('/img/carousel-city-01.jpg')">
    <div class="carousel-home__content">
      <div class="w-1of1 w-M-1of2"></div>
      <div class="w-1of1 w-M-1of2">
        <h2 class="carousel-home__title2">Open the future</h2>
        <p class="carousel-home__text2">
          with the business building power of packaging
        </p>
        <ul class="list slide-01-links2">
          <li>Paper</li>
          <li>Packaging</li>
          <li>Solutions</li>
        </ul>
        <a href="#" class="btn-home btn-home--video">our company in 90 seconds</a>
      </div>
    </div>
  </div>

  <!-- 2e t/m 4e slide -->
  <div class="carousel-home__item" style="background-image: url('/img/carousel-city-01.jpg')">
    <div class="carousel-home__content">
      <div class="w-1of1 w-S-1of2"></div>
      <div class="w-1of1 w-S-1of2">
        <h2 class="carousel-home__title2">Packaging</h2>
        <p class="carousel-home__text">
          Our business is the design, manufacture and supply of paper-based packaging
          to protect and promote your products
        </p>
        <a href="#" class="btn-home">discover more</a>
      </div>
    </div>
  </div>

</div>
