<div class="carousel-home">

  <!-- 1e slide -->
  <div class="carousel-home__item" style="background-image: url('/img/carousel-img-01.jpg')">
    <div class="carousel-home__content">
      <div class="w-1of1 w-S-1of2">
        <h2 class="slide-01-title">
          Open the future
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 181.5 595.3"><path fill="#00A2DD" d="M.4 0l171.9 297.7L0 595.3h9.3l172.2-297.6L9.6 0"/></svg>
        </h2>
      </div>
      <div class="w-1of1 w-S-1of2">
        <ul class="list slide-01-links">
          <li><a href="#">Paper</a></li>
          <li><a href="#">Packaging</a></li>
          <li><a href="#">Solutions</a></li>
        </ul>
        <a href="#" class="btn-home btn-home--video">our company in 90 seconds</a>
      </div>
    </div>
  </div>

  <!-- 2e t/m 4e slide -->
  <div class="carousel-home__item" style="background-image: url('/img/carousel-img-01.jpg')">
    <div class="carousel-home__content">
      <div class="w-1of1 w-S-1of3"></div>
      <div class="w-1of1 w-S-2of3">
        <h2 class="carousel-home__title">Packaging</h2>
        <p class="carousel-home__text">
          Our business is the design, manufacture and supply of paper-based packaging
          to protect and promote your products
        </p>
        <a href="#" class="btn-home">discover more</a>
      </div>
    </div>
  </div>

</div>
