<div class="banner-home banner-home--reverse" style="background-image: url('img/banner-bg-L-pakjes.jpg')">
  <div class="banner-home__img" style="background-image: url('img/banner-bg-L-pakjes.jpg')"></div>
  <div class="banner-home__body">
    <span class="banner-home__category">Market Sector Focus</span>
    <h2 class="homepage-itemtitle">Automotives and Electronics</h2>
    <p>
      Whether packaging small or large, light or heavy components,
      we use proven scientific methods to provide fit-for-purpose,
      cost efficient and sustainable packaging solutions. Lorem
      ipsum dolor sit amet, consectetur adipiscing elit. Mauris
      tempus nisi at mi pretium, luctus malesuada tellus posuere.
    </p>
    <a href="#" class="btn-home">Find out more</a>
  </div>
</div>
