<ul class="box locations-home">
  <li class="locations-countries w-1of2 w-S-1of4">
    <span>34</span>
    countries
  </li>
  <li class="locations-continents w-1of2 w-S-1of4">
    <span>3</span>
    continents
  </li>
  <li class="locations-customers w-1of2 w-S-1of4">
    <span>64,000</span>
    customers
  </li>
  <li class="locations-facilities w-1of2 w-S-1of4">
    <span>370</span>
    facilities
  </li>
  <li class="locations-go w-1of1">
    <a href="#" class="btn-home">see our locations</a>
  </li>
</ul>
