<div class="media home-sustainability">
  <div class="media__img">
    <img src="img/mediaarticle-photo01.jpg" alt="" />
  </div>
  <div class="media__body">
    <h3 class="homepage-itemtitle">Sustainability report</h3>
    <p>
      Sustainability means striving for a better world through innovation,
      maximised use of resources, and minimised emissions. This means re-using and
      recycling and ensuring that biodiversity and human rights are respected in
      the forests we source new fibre from.
    </p>
    <a href="#" class="btn-home">read the report</a>
  </div>
</div>
