<footer class="wrapper">

    <div class="grid grid--nogutter">
      <div class="w-1of1 text--center">
        <button class="footer__quicklinks-button" data-panel="quicklinks">Quicklinks</button>
      </div>
    </div>

    <div id="quicklinks" class="wrapper footer__quicklinks-panel">
      <div class="grid grid--nogutter">
        <div class="w-1of2 w-S-1of3">
            <div class="box">
                <h2>
                    <a href="/vHome/com/Products">Products</a>
                </h2>
                <ul class="list list--stacked">
                    <li>
                        <a href="/vHome/com/Products/Pages/Packaging.aspx" class="link-simple">Packaging</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Products/Pages/Containerboard.aspx" class="link-simple">Containerboard</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Products/Pages/Other_paper_A_board.aspx" class="link-simple">Other paper and board</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Products/Pages/Recovered_paper.aspx" class="link-simple">Recovered paper</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Products/Pages/Packaging_machinery.aspx" class="link-simple">Packaging machinery</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Products/Pages/services.aspx" class="link-simple">Services</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-1of2 w-S-1of3">
            <div class="box">
                <h2>
                    <a href="/vHome/com/Innovation">Innovation</a>
                </h2>
                <ul class="list list--stacked">
                    <li>
                        <a href="/vHome/com/Innovation/HowWeInnovate" class="link-simple">How we innovate</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Innovation/LeadingDevelopments" class="link-simple">Leading developments</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Innovation/InnovationCentres" class="link-simple">Innovation centres</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Innovation/PackagingAndBeyond" class="link-simple">Packaging and beyond</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-1of2 w-S-1of3">
            <div class="box">
                <h2>
                    <a href="/vHome/com/Sustainability">Sustainability</a>
                </h2>
                <ul class="list list--stacked">
                    <li>
                        <a href="/vHome/com/Sustainability/SustainabilityVision" class="link-simple">Sustainability vision</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Sustainability/OurApproach" class="link-simple">Our approach</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Sustainability/Environment" class="link-simple">Environment</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Sustainability/Social" class="link-simple">Social</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Sustainability/SustainabilityInOurBusiness" class="link-simple">Sustainability in our business</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Sustainability/Performance" class="link-simple">Performance</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-1of2 w-S-1of3">
            <div class="box">
                <h2>
                    <a href="/vHome/com/AboutUs">About us</a>
                </h2>
                <ul class="list list--stacked">
                    <li>
                        <a href="/vHome/com/AboutUs/Whoweare" class="link-simple">Who we are</a>
                    </li>
                    <li>
                        <a href="/vHome/com/AboutUs/Whatwedo" class="link-simple">What we do</a>
                    </li>
                    <li>
                        <a href="/vHome/com/AboutUs/Whereweare" class="link-simple">Where we are</a>
                    </li>
                    <li>
                        <a href="/vHome/com/AboutUs/OrganisationAndManagement" class="link-simple">Organisation and management</a>
                    </li>
                    <li>
                        <a href="/vHome/com/AboutUs/VissionMissionAndValues" class="link-simple">Vision, mission and values</a>
                    </li>
                    <li>
                        <a href="/vHome/com/AboutUs/Governance" class="link-simple">Governance</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-1of2 w-S-1of3">
            <div class="box">
                <h2>
                    <a href="/vHome/com/Investors">Investors</a>
                </h2>
                <ul class="list list--stacked">
                    <li>
                        <a href="/vHome/com/Investors/ShareInformation" class="link-simple">Share information</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Investors/FinancialReports" class="link-simple">Financial reports</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Investors/Presentations" class="link-simple">Presentations</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Investors/RegulatoryNews" class="link-simple">Regulatory news</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Investors/FinancialCalendar" class="link-simple">Financial calendar</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Investors/AGM" class="link-simple">AGM</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-1of2 w-S-1of3">
            <div class="box">
                <h2>
                    More
                </h2>
                <ul class="list list--stacked">
                    <li>
                        <a href="/vHome/com/Careers" class="link-simple">Careers</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Newsroom" class="link-simple">Newsroom</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Investors" class="link-simple">Investment centre</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Pages/Glossary.aspx" class="link-simple">Glossary</a>
                    </li>
                    <li>
                        <a href="http://www.openthefuture.info" class="link-simple">Open the future</a>
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>

    <div class="grid grid--nogutter footer__bottom">
        <div class="w-1of1 w-M-4of5">
            <div class="box footer__copy">
                <ul class="list">
                    <li>
                        <a href="/vHome/com/../com">&#169;2015 Smurfit Kappa Group</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Pages/Disclaimer.aspx">Disclaimer</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Pages/Cookie-policy.aspx">Cookie policy</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Pages/sitemap.aspx">Sitemap</a>
                    </li>
                    <li>
                        <a href="/vHome/com/Pages/Accesibility.aspx">Accessibility</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-1of1 w-M-1of5">
          <ul class="list box">
            <li>
                <a href="/vHome/com/_layouts/ContactUs.aspx" class="btn-icon-44 email">Contact us</a>
            </li>
            <li>
                <a href="https://twitter.com/smurfitkappa" class="btn-icon-44 twitter">Twitter</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/smurfit-kappa-group" class="btn-icon-44 linkedin">LinkedIn</a>
            </li>
            <li>
                <a href="http://www.youtube.com/user/SmurfitKappaGroup" class="btn-icon-44 youtube flush--right">YouTube</a>
            </li>
          </ul>
        </div>
    </div>

</footer>
