<main class="wrapper wrapper--home">
  <div class="carousel__wrapper">

        <!-- B-carousel -->

  </div>
</main>

<div class="wrapper wrapper--home-locations">
  <div class="grid grid--nogutter">
    <div class="w-1of1">

      <!-- D-location -->

    </div>
  </div>
</div>

<div class="wrapper wrapper--home-gray">

  <!-- C-content -->

  <!-- C-content -->

  <!-- C-content -->

</div>

<div class="wrapper wrapper--home-dark">
  <div class="grid">
    <div class="w-1of1">

      <!-- E-title -->

    </div>
    <div class="w-1of1 w-M-1of2">

      <!-- E-content -->

    </div>
    <div class="w-1of1 w-M-1of2">

      <!-- E-content -->

    </div>
  </div>
</div>

<div class="wrapper">
  <div class="grid grid--nogutter">
    <div class="w-1of1">

      <!-- F-contenteditor-title -->

    </div>
  </div>
  <div class="grid">
    <div class="w-1of1 w-S-1of2 w-M-1of4">

      <!-- F-composit-article -->

    </div>
    <div class="w-1of1 w-S-1of2 w-M-1of4">

      <!-- F-composit-article -->

    </div>
    <div class="w-1of1 w-S-1of2 w-M-1of4">

      <!-- F-composit-article -->

    </div>
    <div class="w-1of1 w-S-1of2 w-M-1of4">

      <!-- F-composit-article -->

    </div>
  </div>
</div>

<div class="wrapper wrapper--home-capital">
  <div class="grid grid--nogutter">
    <div class="w-1of1">

      <!-- G-composit-capitalmarkets -->

    </div>
  </div>
</div>

<div class="wrapper wrapper--home-gray">
  <div class="grid">
    <div class="w-1of1">

      <!-- H-contenteditor-title -->

      <!-- H-contenteditor-twitter -->

    </div>
    <div class="w-1of1 w-M-1of3">

      <!-- H-contentquery-result -->

    </div>
    <div class="w-1of1 w-M-1of3">

      <!-- H-contentquery-result -->

    </div>
    <div class="w-1of1 w-M-1of3">

      <!-- H-contentquery-result -->

    </div>
  </div>
</div>
