<div class="input container" variant="date" state="">
	<input class="input unit" variant="overlay full" type="date" id="full" tabindex="-1">

	<input class="input unit wow fadeInUp" variant="number dateselector year" name="year" maxlength="2" id="input-date-year" data-nextfield="input-date-month" type="number" placeholder="YY" pattern="\d*" />
	<input class="input unit wow fadeInUp" variant="number dateselector month" name="month" maxlength="2" id="input-date-month" data-nextfield="input-date-day" type="number" placeholder="MM" pattern="\d*" />
	<input class="input unit wow fadeInUp" variant="number dateselector day" name="day" maxlength="2" id="input-date-day" data-nextfield="input-date-submit" type="number" placeholder="DD" pattern="\d*" />
</div>
