<p class="message">{{item.data.text}}</p>
<div class="policylink link"><a href="{{item.data.href}}">{{item.data.policytext}}</a></div>
<p class="changelink link"><a href="#">{{item.data.changetext}}</a></p>