<div class="full-viewport container" modifier="haslegal">
    {% include full-viewport-page/parts/page/form-succes.liquid %}

    {% include full-viewport-page/parts/close-button/default.liquid %}
</div>
