{% assign modifiers = include.default %}
<div sticky="mobileOnly">
	<a href="/pages/media-gallery" class="shared-button wow fadeInUp" modifiers="{{modifiers}}">
		<span class="multiplelines">A call-to-action button</span>
	</a>
</div>