<div class="article container wow fadeInUp">
    <div class="article unit rtf" id="wij-zijn-heineken" variant="box1">
        <h4>Wij zijn Heineken</h4>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum aliquid eum repellendus rem rerum reprehenderit aut obcaecati dolore. Dolorum fuga officiis repudiandae eius facilis, facere numquam ipsam hic delectus atque.</div>
        <div>Odit culpa soluta voluptatem corporis fugiat placeat animi, optio laborum, dolor eum nulla doloribus nam accusantium repellendus blanditiis quasi deleniti modi illum debitis quibusdam, quae aut deserunt magni consequuntur! Sequi.</div>
        <div>Ad quisquam amet quaerat accusamus ducimus rem sapiente tempora nisi aliquam, itaque similique consequuntur facere laboriosam officiis suscipit possimus ex consequatur quod voluptates dolorem quia asperiores tenetur molestias perferendis? Magnam.</div>
        <div>Eos voluptate impedit aliquam molestiae ab sed earum optio repellat explicabo nostrum animi dolor nobis quibusdam sequi nam voluptatibus velit eligendi, ipsum porro id modi! Enim beatae facere fugiat similique.</div>
        <div>Voluptatem explicabo architecto ratione doloremque dolores! Eaque, ipsam, nemo. Dignissimos officia, accusantium aut quibusdam est, ex dolorem nobis eius ratione! Aspernatur impedit eos ipsam, animi delectus sint quas dolores quod.</div>
    </div>
    <div class="article unit rtf" id="heineken-experience" variant="box2">
        <h4>Heineken Experience</h4>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum hic rem amet distinctio. Ipsam cum perferendis commodi mollitia a natus, unde dolorem asperiores deserunt distinctio aperiam temporibus repudiandae, magnam quasi!</div>
        <div>Iste in, maiores esse, unde tempore dignissimos! Est vero iure ullam id incidunt in eius facilis rerum sed provident, adipisci quae quasi. Dicta reiciendis ducimus qui pariatur enim et praesentium.</div>
        <div>Autem necessitatibus id ex optio, vel nihil facilis, sapiente ducimus, consectetur praesentium maxime explicabo distinctio debitis soluta harum modi dignissimos eius. Veniam explicabo tempora excepturi odio reprehenderit repellat suscipit voluptates!</div>
        <div>Doloremque ducimus officia recusandae facilis, dolorum consectetur asperiores atque aspernatur alias possimus, ad eligendi doloribus rerum voluptate dolore ut totam quisquam beatae officiis est deserunt. Odit, eligendi in dolores ratione?</div>
        <div>Rerum architecto dignissimos enim nostrum molestiae praesentium id molestias possimus magni a inventore eligendi saepe soluta laborum voluptatem ipsam debitis tempora incidunt provident eaque sint adipisci, consequuntur officia consequatur quam!</div>
        <div>Illum rerum corrupti sunt libero officia et quam obcaecati inventore alias, ab, cum eligendi, fugit maiores sapiente repudiandae neque beatae ipsum commodi? Amet accusamus nemo deserunt sed tempore veritatis, repudiandae.</div>
        <div>Possimus, et voluptatum nisi excepturi quaerat debitis dolor amet quisquam iste sequi cum natus reprehenderit neque illo. Laboriosam, perferendis alias ullam. Amet distinctio odio deserunt deleniti itaque ea, saepe doloribus.</div>
        <div>Nesciunt laborum praesentium doloribus odit, tempora ducimus quaerat voluptate? Nostrum commodi tempora, itaque ratione et incidunt vero impedit! Harum hic voluptatibus adipisci odit voluptatem, nostrum itaque magnam minus dolorum officiis.</div>
        <div>Sint tempore voluptate tenetur eius natus voluptatibus distinctio asperiores pariatur nemo autem fugit earum deserunt laborum esse, illum, reiciendis excepturi ipsam rerum? Aut nulla ipsum necessitatibus odit nesciunt iure earum.</div>
        <div>Dicta velit quibusdam, expedita sed reprehenderit fugit accusantium necessitatibus laborum corporis deleniti, voluptates distinctio obcaecati soluta est eos sapiente vero laudantium beatae. Nam rerum voluptas quas impedit ipsa dignissimos, neque.</div>
    </div>
    <div class="article unit rtf" id="lots-of-beer" variant="box3">
        <h4>Lots of beer</h4>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi odio cum harum dolorem ipsum, ea hic non error eaque explicabo, perspiciatis voluptates repellendus in ipsam laboriosam ducimus inventore, temporibus vero?</div>
        <div>Cupiditate porro veritatis nesciunt, maxime explicabo quae ducimus deserunt, veniam hic, delectus odit amet accusantium perspiciatis provident officia illo! Quisquam nesciunt provident qui ullam rerum perspiciatis ut veritatis mollitia aliquam.</div>
        <div>Aspernatur alias cumque nobis qui possimus, omnis fugit repellat quia dignissimos soluta assumenda aliquid quas ea obcaecati aut, pariatur perspiciatis quo debitis id. Molestiae, alias, quo qui explicabo quam saepe.</div>
        <div>Esse molestiae eius earum maiores quos nisi, animi veniam possimus distinctio quas repellat? Cum veniam debitis dolores perferendis iure. Tempora maiores quam maxime debitis similique! Blanditiis aut provident obcaecati, id!</div>
        <div>Iusto consequuntur dolores, totam itaque exercitationem maxime ipsam? Non quia tempore omnis vitae officia fuga esse, maxime quasi quidem. Facilis debitis quidem, at necessitatibus excepturi fugit a ut, nobis laudantium.</div>
        <div>Fugit sequi corporis iste, saepe delectus, omnis magnam laboriosam, quod expedita pariatur, modi cupiditate aperiam qui tempore libero explicabo ipsum iure! Atque perferendis maiores ab autem, nulla natus deserunt quam?</div>
        <div>Dicta harum, eligendi omnis! Cum voluptatibus numquam delectus quaerat, iste laborum harum sit, unde inventore fugiat voluptas ipsum, est quia. Impedit, blanditiis? Sit ut voluptatem illo exercitationem dolorum esse veniam.</div>
    </div>
</div> 