<div class="background blurred">
	<div class="image_ratio">
		<!-- img class="horizontal" src="{{ "1000x1000" | placeholder:'444444','ffffff' }}" alt="" /-->
		<img class="horizontal" data-source="https://upload.wikimedia.org/wikipedia/commons/3/3d/LARGE_elevation.jpg" src="" alt="" />
	</div>
</div>
<div class="background regular" state="active">
	<div class="image_ratio">
		<!-- img class="horizontal" src="{{ "1000x1000" | placeholder:'555555','ffffff' }}" alt="" / -->
		<img class="horizontal" data-source="https://upload.wikimedia.org/wikipedia/commons/3/3d/LARGE_elevation.jpg" src="" alt="" />
	</div>
</div>
