<div class="background video">
	<div class="video_ratio">
		<iframe
			data-src="https://www.youtube.com/embed/mMhd7UZY9qw?
				rel=0&amp;
				controls=0&amp;
				showinfo=0&amp;
				autohide=1&amp;
				modestbranding=1&amp;
				iv_load_policy=3&amp;
				cc_load_policy=0&amp;

				enablejsapi=1&amp;

				start=0&amp;
				autoplay=1&amp;
				wmode=opaque">
		</iframe>
	</div>
</div>
<div class="background regular" state="active">
	<div class="image_ratio">
		<img class="horizontal" data-source="/dummy-resources/img/background/default.png" alt="" />
	</div>
</div>
<div class="background blurred">
	<div class="image_ratio">
		<img class="horizontal" data-source="/dummy-resources/img/background/blur.png" alt="" />
	</div>
</div>
