@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext,greek-ext,greek,devanagari,vietnamese,latin-ext,cyrillic);
@import url(https://www.heineken.com/browser-resources/css/main.min.css?family=Title);
.stacklapopup-wrap .stacklapopup-bg {
  background: #101417;
  opacity: 0.9;
}
.stacklapopup-wrap .stacklapopup-twitter-intent-wrapper {
  display: none;
}
.stacklapopup-wrap .stacklapopup-content {
  max-width: 505px;
  position: static;
}
.stacklapopup-wrap .stacklapopup-content-wrap {
  background: #262b32;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 0;
}
.stacklapopup-wrap .stacklapopup-title-wrapper {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
  position: relative;
  margin: 0;
}
.stacklapopup-wrap .stacklapopup-title-wrapper .stacklapopup-title {
  text-transform: uppercase;
  font-family: Title, 'Title Fallback 1', 'Title Fallback 2', sans-serif;
  color: #4e5162;
  font-size: 11px;
  position: absolute;
  height: 0;
  padding: 0;
  margin: 0;
  left: 62px;
  top: 37px;
}
.stacklapopup-wrap .stacklapopup-close {
  right: -70px;
  top: -31px;
  background: #111518;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.stacklapopup-wrap .stacklapopup-close::before,
.stacklapopup-wrap .stacklapopup-close::after {
  background: #fff;
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 23px;
  height: 19px;
  width: 3px;
}
.stacklapopup-wrap .stacklapopup-close::after {
  width: 19px;
  height: 3px;
  top: 23px;
  left: 15px;
}
.stacklapopup-wrap .stacklapopup-source {
  position: absolute;
  left: 20px;
  bottom: 13px;
  font-size: 18px;
  padding: 0;
}
.stacklapopup-wrap .stacklapopup-source .fs::before {
  color: #4e5162;
}
.stacklapopup-wrap .stacklapopup-user-link {
  padding-left: 10px;
  padding-top: 5px;
  line-height: 12px;
  vertical-align: top;
}
.stacklapopup-wrap .stacklapopup-avatar-image {
  width: 32px;
  height: 32px;
}
.stacklapopup-wrap .stacklapopup-user-info-wrapper {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  display: block;
  margin: 20px 0 0px 20px;
}
.stacklapopup-wrap .stacklapopup-user-name,
.stacklapopup-wrap .stacklapopup-user-handle {
  text-transform: uppercase;
  font-family: Title, 'Title Fallback 1', 'Title Fallback 2', sans-serif;
}
.stacklapopup-wrap .stacklapopup-user-handle {
  color: #4e5162;
  font-size: 11px;
}
.stacklapopup-wrap .stacklapopup-user-name {
  color: #9797aa;
}
.stacklapopup-wrap .stacklapopup-image-wrapper {
  display: block;
  width: 100%;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  margin: 0;
}
.stacklapopup-wrap .stacklapopup-image-wrapper img {
  width: 100%;
}
.stacklapopup-wrap .stacklapopup-image-wrapper-inner {
  max-width: 100% !important;
}
.stacklapopup-wrap .stacklapopup-interactions-wrapper {
  position: absolute;
  bottom: -4px;
  right: 4px;
  display: block;
}
.stacklapopup-wrap .stacklapopup-interaction-link {
  cursor: pointer;
  border: none;
}
.stacklapopup-wrap .stacklapopup-video-wrapper {
  width: 100%;
  max-width: 100%;
  position: relative;
  margin: 0;
}
.stacklapopup-wrap .stacklapopup-video-player-root {
  width: 100%;
}
.stacklapopup-wrap .stacklapopup-poweredByStackla-wrapper {
  display: none;
}
.stacklapopup-wrap .stacklapopup-caption {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
  font-size: 13px;
  color: #cecedb;
  clear: left;
  text-align: left;
  padding: 10px 20px;
  font-family: Noto Sans, sans-serif;
  margin: 0;
  line-height: 21px;
  display: block;
  width: 100%;
}
.stacklapopup-wrap .stacklapopup-caption a,
.stacklapopup-wrap .stacklapopup-caption a:link {
  color: #fff;
}
.stacklapopup-wrap .stacklapopup-share-list {
  position: absolute;
  right: 1px;
  top: -3px;
  min-width: 235px;
  left: auto;
}
.stacklapopup-wrap .stacklapopup-footer {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}
.stacklapopup-wrap .stacklapopup-timestamp {
  font-family: Title, 'Title Fallback 1', 'Title Fallback 2', sans-serif;
  color: #4e5162;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 0 16px 42px;
}
@media only screen and (max-width: 550px) {
  .stacklapopup-wrap .stacklapopup-close {
    right: 12px;
    top: 12px;
  }
  .stacklapopup-wrap .stacklapopup-content {
    max-width: 100%;
    position: static;
    margin-top: 0;
    vertical-align: top;
  }
}
.stacklapopup-caption .tile-emoji {
  width: 14px;
  position: relative;
  top: 3px;
}
/*# sourceMappingURL=stackla-expanded-tile.css.map */