{% if item.background %}
	{% capture backgroundStyle %}style="background-image: url({{item.background}})"{% endcapture %}
{% else %}
	{% capture backgroundStyle %}{% endcapture %}
{% endif %}

<div id="art_{{ item.id }}" class="article unit list" variant="{{ item.variant }}" modifier="" {{backgroundStyle}}>	
	{% include article/parts/list/parts/title/default.liquid %}
	<div class="text-block">
		<div class="body-text rtf">
			<ul>
				{% for _list in item.data.items %}
					{% include article/parts/list/parts/list/extended.liquid %}
				{% endfor %}
			<ul>
		</div>
	</div>		
</div>
