<div class="nav unit" variant="top modal" state="">
	<div class="bar main">

		{% include "nav/parts/title/default" %}
		
		{% include "nav/parts/logo/default" %}

		<div class="tool">
			<a class="back" href="/pages/home">
				{% include "nav/parts/icon/menu" %}
			</a>
		</div>
	</div>
</div>