<div class="video" state="">		
	<div class="video_ratio">
		<span class="trigger__youtube-holder" id="youtube-holder-{{item.video.youtube-id}}" data-youtube-id="{{item.video.youtube-id}}"></span>
	</div>
</div>