/*

  additional content styling

  ...takes some of the (mostly MS Word) classnames in the content and does some styling
  (mostly taken from the old site)

*/

.ms-rteTable-default td, .ms-rteTable-default th {
  border: 1px solid;
}

img.ms-asset-icon.ms-rtePosition-4 {
  width: inherit;
  float: left;
  margin-right: 4px;
}

img.unresponsive {
  width: inherit !important;
}

.ms-vh2 .s4-ctx {
  display: none;
}

td.ms-newsletterline img {
  display: none;
}

.ms-vb2 {
  vertical-align: top;
}

.ms-vb2 img {
  width: inherit !important;
}

.ms-rtePosition-1 {
  float: left;
  margin: 6px 10px 5px 0;
  width: inherit !important;
}

.ms-rtePosition-2 {
  float: right;
  margin: 6px 0 5px 10px;
  width: inherit !important;
}

.ms-rteThemeForeColor-2-0 {
  color: $black;
}

.ms-WPBody h4, .ms-rteElement-H4,
.ms-vh-div, .ms-vhltr .ms-vh {
  color: $brand-color;
}

.ms-listviewtable .ms-vb2, .ms-summarystandardbody .ms-vb2 {
  padding-left: 2px;
  padding-right: 7px;
}

.ms-vh, .ms-vh2, .ms-vh2-nograd, .ms-vh3-nograd, .ms-vh2-nograd-icon, .ms-vh2-nofilter-icon, .ms-ph {
  white-space: nowrap;
}

.ms-rteElement-H3 {
  color: $brand-color;
  text-transform: none;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.3;
  // padding: .5em 0 1em;
}

.ms-rteElement-H4B {
  //color: $brand-color;
  font-size: 1.2em;
  text-transform: none;
  line-height: 1.3;
  margin-bottom: 1em;
}

li .ms-rteElement-P {
  line-height: 1.5em;
    margin-bottom: 8px;
}

.ms-newsletterline {
  border-bottom: 1px solid $gray;
}

/* callout block */
.ms-rteElement-Callout1 {
  color: $gray-darker;
  background-color: $gray-lightest;
  padding: $base-spacing-unit;
  margin: $base-spacing-unit 0 $double-spacing-unit 0;
  font-size: 1.1em;
  line-height: 1.5em;
  font-style: italic;
  position: relative;

  &::after {
    content: "\0201D";
    color: $gray-darkish;
    font-family: Times New Roman, Palatino, Georgia, serif;
    font-style: italic;
    position: absolute;
    font-size: 7em;
    right: .2em;
    bottom: -.35em;
  }
}

@include media-query(S) {

  .ms-rteElement-Callout1 {
    float: right !important;
    width: 55%;
    margin: 0 (0-$half-spacing-unit) $double-spacing-unit 12px;
  }

}

/*  kill the spacer gif!!!! (didn't know they still exsisted?!?) */
[src$="images/blank.gif"] {
  display: none !important;
}

/* vacatures */
.list--vacatures {
  @extend .list--stacked;
}
