/*

	panels

	not much here, it's a bit of a boring container.
	but it deserves it's own setup

*/

.panel {
	border-spacing: 0;
	overflow: hidden;

	&.is-closed {
		height: 0;
	}

	> * {
		@include transform-origin(center bottom);
		position: relative;
		bottom: 0;
	}

	&.velocity-animating > * {

		.is-active + & {
			@include animation( panel-content-out .3s cubic-bezier(.37,1,.81,.98) );
		}
	}
}

@include keyframe(panel-content-out) {
	from { @include transform( translateY(-100%) );}
}