<div class="nav unit" variant="side" state="">

	<div class="top">
		{% include nav/parts/logo/default.liquid %}
		
		{% include nav/parts/menu/vertical.liquid %}
	</div>

	<div class="bottom">
		{% include nav/parts/follow/default.liquid %}
	</div>
</div>


