<div class="navigation-tiles container" variant="editing">
	<div class="navigation-tiles unit">
		<div class="media container">

			{% for item in global.navigation-tiles.tiles-a %}
				{% include "navigation-tiles/parts/item/editing" %}
			{% endfor %}

		</div>
	</div>
</div>