.banner-home {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  line-height: 1.5;
  background: #f0f0f0 no-repeat 50% 50%;
  background-size: cover;

  .banner-home__inner {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    width: 100%;
  }

  @media screen and (max-width: #{map-get($breakpoints,"S") - 1}) {
    background-image: none !important;
  }

  @include media-query(S) {
    flex-flow: row-reverse;
    background-position: calc( 50% + 16vw ) 50%;
    background-size: auto calc( 100% + 7vw );

    .banner-home__inner {
      flex-flow: row-reverse;
    }

    &.banner-home--reverse {
      flex-flow: row;
      background-position: calc( 50% - 16vw ) 50%;

      .banner-home__inner {
        flex-flow: row;
      }
    }
  }

  @include media-query(M) {
    background-size: cover;

    &, &.banner-home--reverse {
      background-position: 50% 50%;
    }
  }

  @media screen and (min-width: map-get($breakpoints,"XL")) {
    // IE11 doesn't do this dynamically so we need that extra wrapper .banner-home__inner
    // padding-left: calc( 50% - #{map-get($breakpoints,"XL")/2} );
    // padding-right: calc( 50% - #{map-get($breakpoints,"XL")/2} );

    .banner-home__inner {
      margin: auto;
      max-width: map-get($breakpoints,"XL");
    }
  }
}

.banner-home__img {
  display: block;
  background: transparent no-repeat 72% 50%;
  background-size: cover;

  .banner-home--reverse & {
    background-position: 28% 50%;
  }

  @include media-query(S) {
    width: 33.3334%;
    background-image: none !important;
  }

  @include media-query(M) {
    width: 50%;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 75%;

    @include media-query(S) {
      padding-bottom: 50%;
    }
  }
}

.banner-home__body {
  display: block;
  position: relative;
  font-size: 16px;
  padding: 2rem rem(10px);

  @include media-query(S) {
    width: 66.6667%;
    min-height: 366px;
    font-size: 18px;
    padding: 4rem rem(20px);
  }

  @include media-query(M) {
    width: 50%;
    min-height: 0;
    font-size: 20px;
    padding: 5rem rem(20px);
  }

  .homepage-itemtitle {
    margin-bottom: 1em;
  }

  .btn-home {

    @include media-query(S) {
      margin-top: 1rem;
    }

    @include media-query(M) {
      margin-top: 2rem;
    }
  }
}

.banner-home__category {
  font-size: 24px;
  display: inline-block;
}
