.banner-home {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  line-height: 1.5;

  @include media-query(S) {
    flex-flow: row;
  }
}

.banner-home__img {
  display: block;
  background-position: center center;
  background-size: cover;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
  }

  @include media-query(S) {
    width: 33.333%;

    :nth-child(even) > & {
      order: 2;
    }

    &::before {
      padding-bottom: 50%;
    }
  }

  @include media-query(M) {
    width: 50%;

    &::before {
      padding-bottom: 56.25%;
    }
  }
}

.banner-home__body {
  display: block;
  position: relative;
  padding: 5rem;
  font-size: 16px;
  padding: 2rem;

  @include media-query(S) {
    width: 66.666%;
    font-size: 18px;
    padding: 4rem 3rem;

    :nth-child(even) > & {
      order: 1;
    }
  }

  @include media-query(M) {
    width: 50%;
    font-size: 20px;
    padding: 5rem;
  }

  .homepage-itemtitle {
    margin-bottom: 1em;
  }

  .btn-home {

    @include media-query(S) {
      margin-top: 1rem;
    }

    @include media-query(M) {
      margin-top: 2rem;
    }
  }
}

.banner-home__category {
  font-size: 24px;
  display: inline-block;
}
