<p class="message">{{item.data.text}}</p>
<div class="checkbox1">
	<div class="checkbox">
		<input type="checkbox" class="input" checked />
		<label><span></span>{{item.data.checkbox1}}</label>
	</div>
</div>

<div class="checkbox2">
	<div class="checkbox">
		 <input type="checkbox" class="input" id="checkbox2" checked />
		 <label for="checkbox2"><span></span>{{item.data.checkbox2}}</label>
	</div>
	
</div>