<div class="settings" state="">
	{% include cookies/parts/settings/header/default.liquid %}
	{% include cookies/parts/settings/message/default.liquid %}
	{% include cookies/parts/settings/button/default.liquid %}
</div>