{% if include.variant %}
{% capture variant %}{{include.variant}}{% endcapture %}
{% else %}
{% capture variant %}{{page.legalVariant}}{% endcapture %}
{% endif %}

<div class="legal container" variant="{{variant}}">
	<div class="legal unit">
		<h3>This is the title of the legal statement</h3>
		<p>This legal statement is mandatory in some countries, so this is how it would look. It might not always display exactly like this, there are some variants. Sometimes it's position is fixed to the bottom of the page, or it can have a additional logo inside it. It's possible that there may be links in it, <a href="#!">like this one</a>. Logo's will float to the right on desktop and be placed at the bottom on mobile.Logo's will float to the right on desktop and be placed at the bottom on mobileLogo's will float to the right on desktop and be placed at the bottom on mobileLogo's will float to the right on desktop and be placed at the bottom on mobileLogo's will float to the right on desktop and be placed </p>
	</div>
</div>