<div class="column" modifier="{{ _column.block }}">
	<div class="rtf">
		<h2>Test kop</h2>
		<hr />
		<p>
			Vestibulum sed ipsum consectetur, rhoncus lacus id, suscipit sem. Vivamus mauris diam, ultrices at est sit amet, condimentum blandit quam. Sed rutrum gravida lacus.
		</p>
		<a class="{{ _column.button.class }}" href="{{ _column.button.href }}">{{ _column.button.title }}</a>
	</div>	
</div>