<div class="gateway container" data-facebookId="794138907302337">

	<div class="gateway unit">

		{% include gateway/parts/logo/default.liquid %}

		{% include gateway/parts/title/default.liquid %}

		{% include gateway/parts/form/age.liquid %}

		{% include gateway/parts/form/connect.liquid %}

		{% include gateway/parts/privacy/default.liquid %}

	</div>
</div>