<div class="follow">
	<a href="/pages/overlay" toggle="overlay" name="socials">
		{% include nav/parts/icon/facebook.liquid %}
		<span variant="hidden">Facebook</span>
 	</a>

	<a href="https://twitter.com" target="_blank">
		{% include nav/parts/icon/twitter.liquid %}
		<span variant="hidden">Twitter</span>
 	</a>
</div>