<div class="policy" state="active"> 
	{% include cookies/parts/policy/header/default.liquid %}
	{% include cookies/parts/policy/message/default.liquid %}
	{% include cookies/parts/policy/button/default.liquid %}
</div>